{% extends 'app/main.html' %}
{% block content %}
<br>
<h5>User login</h5>
<form method=POST action="{% url 'user' %}">
  {% csrf_token %}
    <hr>
     {% for message in messages %}
        <span class="text-danger">{{message}}<span>
    {% endfor %}
     <div class="form-group">
      <label for="exampleInputtext">Username</label>
      <input type="text" class="form-control" id="exampleInputtext" aria-describedby="textHelp" placeholder="Enter Username" name='username'>
      <small id="textHelp" class="form-text text-muted">We'll never share your username  with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <div class="form-group form-check">
    <h6>Create your<a href="{% url 'CustomerSignUpView' %}">Account</a></h6>
    </div>
    <center><button type="submit" class="btn btn-primary w-50 ">login</button></center>
  </form>
{% endblock %}